

      <!-- barber section start -->
      <div class="barber_section layout_padding">
         <div class="container">
            <div class="braber_taital_main">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="barber_bg_main">
                        <form method="post" action="/blog">
                           <div class="form-group">
                           <label for="exampleFormControlInput1">Title</label>
                           <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type you blog title" name="title">
                             </div>
                        
                           <div class="form-group">
                           <label for="exampleFormControlTextarea1">Description</label>
                           <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                             </div>
                        
                           <div class="form-group">
                           <label for="exampleFormControlInput1">Author</label>
                           <input type="text" name="author" class="form-control" id="exampleFormControlInput1" placeholder="Name of Author">
                                </div>
                           <div class="form-group">
                               <label for="exampleFormControlInput1">image</label>
                               <input type="file" name="image" class="form-control" id="exampleFormControlInput1" placeholder="Type you blog title">
                               </div>  
                        
                               <button type="submit" class="btn btn-primary mt-3">Save</button>
                        </form>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="fashion_img">
                        <img src="imgs/img-1.png" class="fashion_img">
                        <div class="read_bt"><a href="#">04<br>FEB</a></div>
                     </div>
                  </div>
               </div>
            </div>
            
            
         </div>
      </div>
      <!-- barber section end -->


 <%- contentFor('title')  %>
 Blog